# Ignore Eclipse project and settings files
.classpath
.settings
.project
.externalToolBuilders

# Ignore npm files/folders
node_modules
blueocean_plugin
npm-debug.log

# Ignore bower folder
bower_components

# Ignore Mac files
.DS_Store

# Ignore Visual Studio project and settings files
*.sln
*.suo
web.config
/.user.project.json
