# Ignore Eclipse project and settings files
.classpath
.settings
.project
.externalToolBuilders

# Ignore sublime
**.sublime-workspace
**.sublime-project

# Ignore npm files/folders
node_modules
tutorial
npm-debug.log
.npmrc

# Ignore bower folder
bower_components

# Ignore built file of webpack
dist

# Ignore Mac files
.DS_Store
.env