.reveal .slides section .fragment.highlight-sap,
.reveal .slides section .fragment.highlight-bo,
.reveal .slides section .fragment.highlight-react {
  opacity: 1;
  visibility: visible; }

  .reveal .slides section .fragment.highlight-sap.visible, .highlight-sap-static {
  color: #f5a623; }

  .reveal .slides section .fragment.highlight-bo.visible, .highlight-bo-static {
  color: #61dafb; }

  .reveal .slides section .fragment.highlight-react.visible, .highlight-react-static {
  color: #d998cb; }