.ciConnectSvgGerrit {
	 background-image: url("../svg/Gerrit.svg");
}

.ciConnectSvgGerritColor {
	 background-image: url("../svg/GerritColor.svg");
}

.ciConnectSvgGit {
	 background-image: url("../svg/Git.svg");
}

.ciConnectSvgGitColor {
	 background-image: url("../svg/GitColor.svg");
}

.ciConnectSvgGitSquare {
	 background-image: url("../svg/GitSquare.svg");
}

.ciConnectSvgGithub {
	 background-image: url("../svg/Github.svg");
}

.ciConnectSvgGithubSquare {
	 background-image: url("../svg/GithubSquare.svg");
}

.ciconnectContainerItemFloatLeft {
	float: left;
	margin: 5px;
}

.ciconnectContainerItemFlexColumn {
	float: left;
	margin: 5px;
}