@font-face {
	font-family: 'oct';
	src: url('../../node_modules/octicons/build/font/octicons.ttf'),
		 url('../../node_modules/octicons/build/font/octicons.eot'); /* IE9+ */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'awesome';
	src: url('../../node_modules/font-awesome/fonts/fontawesome-webfont.ttf'),
		 url('../../node_modules/font-awesome/fonts/fontawesome-webfont.eot'); /* IE9+ */
	font-weight: normal;
	font-style: normal;
}

.tileLayout {
	float: left;
}

.ciconnectPipelineDiv {
	margin: 5px;
}

.ciconnectBadge {
	margin-left: 5px;
	size: 1rem;  /* for icon font */
	width: 1rem; /* for svg */
	height: 1rem; /* for svg */
	background-size: 1rem 1rem; /* for svg */
}

.ciconnectSummaryWeather {
	float: right;
}

.jenkinsbo .pipeline-big-label  {
	font-size: 0.8rem;
}