.ciconnectPipelineDiv {
}

.ciconnectPipelineSvgFrame {
	width:100%;
	height:100%;
	stroke:#666666;
	stroke-width:1;
	stroke-dasharray:3,4;
	fill:none;
}

.ciconnectJobPathStatusFinished .ciconnectJobPathStatusInprocess {
	stroke-width:2;
	stroke-dasharray:1;
}

.ciconnectJobPathStatusWaiting {
	stroke-width:2;
	stroke-dasharray:3,4;
}

.ciConnectJobPathTypeCentral {
	fill: none;
	stroke: #1C75BC;
}

.ciConnectJobPathTypeLocal {
	fill: none;
	stroke: #e09d00;
}