.ciconnectPipelineDiv {
}

.ciconnectPipelineSvgFrame {
	width:100%;
	height:100%;
	stroke:#666666;
	stroke-width:1;
	stroke-dasharray:3,4;
	fill:none;
}

.ciconnectJobStatusFinished .ciconnectJobStatusInprocess {
	stroke-width:2;
	stroke-dasharray:1;
}

.ciconnectJobStatusWaiting {
	stroke-width:2;
	stroke-dasharray:3,4;
}

.ciConnectJobTypeCentral {
	fill: #1C75BC;
	stroke: #1C75BC;
}

.ciConnectJobTypeLocal {
	fill: #e09d00;
	stroke: #e09d00;
}