.ciconnectPipelineDiv {
}

.ciconnectPipelineSvgFrame {
	width:100%;
	height:100%;
	stroke:#666666;
	stroke-width:1;
	stroke-dasharray:3,4;
	fill:none;
}

.ciConnectJobPathTypeCentral {
	fill: #1C75BC;
	stroke: #1C75BC;
}

.ciConnectJobPathTypeLocal {
	fill: #e09d00;
	stroke: #e09d00;
}

.ciconnectJobPathStatusfFinished {
	stroke-width:1;
}

.ciconnectJobPathStatusInprocessCentral {
	fill: url(#inProcessCentral);
	stroke-width:1;
}

.ciconnectJobPathStatusInprocessLocal {
	fill: url(#inProcessLocal);
	stroke-width:1;
}

.ciconnectJobPathStatusWaiting {
	fill-opacity: 0;
	stroke-width:1;
	stroke-dasharray:2,1;
}