@font-face {
	font-family: 'oct';
	src: url('../../node_modules/octicons/build/font/octicons.ttf'),
		 url('../../node_modules/octicons/build/font/octicons.eot'); /* IE9+ */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'awesome';
	src: url('../../node_modules/font-awesome/fonts/fontawesome-webfont.ttf'),
		 url('../../node_modules/font-awesome/fonts/fontawesome-webfont.eot'); /* IE9+ */
	font-weight: normal;
	font-style: normal;
}

.tileLayout {
	float: left;
}

.ciconnectPipelineDiv {
	margin: 5px;
}

.ciconnectIcon {
	color: #888888;
}